html, body {
    height: 100%;
}

body {
    margin: 0;
    background-image: url('/static/background.gif');
    font-family: Calluna;
}

input.clean {
    color: #aaa;
    font-style: italic;
}

body header {
    height: 52px;
    /*background-image: linear-gradient(bottom, #323232 0%, #121212 40%);
    background-image: -moz-linear-gradient(bottom, #323232 0%, #121212 40%);*/
    background-image: -webkit-linear-gradient(bottom, #323232 0%, #121212 40%); 
    color: white;
    margin: 0;
}

#wrapper {
    min-height: 100%;
}

header h1 {
    float: left;
    margin: 0;
    padding: 8px 12px;
    font-family: MuseoSlab;
}

#register, #account-sidebar {
    width: 20%;
}

#register label {
    display: block;
}

#content {
    width: 50%;
    margin: 0 auto;
}

#charts {
    width: 20%;
    float: left;
}

.exlibris {
    font-family: MuseoSlab;
}

#header-login, #register, #account-sidebar {
    float: right;
    font-family: CallunaSans;
    font-size: 80%;
    padding: 0.9em;
}

#header-login a, #register a, #account-sidebar a {
    text-decoration: none;
    color: white;
}

#header-login label {
    margin: 0.3em;
    color: white;
}

#header-login input {
    border: solid 1px #626262;
    background-color: #a1a1a1;
    margin-right: 2em;
    width: 20%;
    padding: 0.4em;
}

#header-login input[type='submit'] {
    border: none;
    background: none;
    color: white;
    margin: 0;
    width: auto;
    cursor: pointer;
}

p#header-login {
    margin: 0.5em;
}

.sep { margin: 0 1em; }

#account-sidebar {
    /* background-image: -webkit-linear-gradient(bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); */
    /* background-image: -webkit-linear-gradient(bottom, #fceabb 0%, #fccd4d 50%,#f8b500 51%, #fbdf93 100%); */
    background-image: -webkit-linear-gradient(bottom, #4a4d51 0%, #36393d 50%, #3c3f43 51%, #7e8082 100%);
    margin: 2em 0.5em;
    border-radius: 1em;
}

/* DASHBOARD */
table.collection {
    font-family: CallunaSans;
    font-size: 80%;
    background-color: #fff;
    border: dashed 2px #646464;
    border-collapse: collapse;
    width: 100%;
}

table.collection th, table.collection td {
    padding: 0.8em;
}

table.collection th {
    border-bottom: dashed 2px #646464;
}

table.collection td.action ul {
    text-indent: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer {
    height: 52px;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}
