{% extends 'base.html' %}

{% block pagetitle %}Dashboard | Register your books to lend and sell and find people near you{% endblock %}

{% block content %}
<h2>Dashboard</h2>
<p><b>{{ user.username}}</b> &mdash; {{ person.tagline }}</p>

<img src="{{ STATIC_URL }}mock-map.png" />

    {% for collection in person.collections %}
    <h4>{{ collection.name }}</h4>
        <table class="collection">
        <tr><th>Title</th><th>Author</th><th>Published</th><th></th></tr>
        {% for book in collection.books %}
            <tr>
                <td><a href="/text/{{ book.edition.text.slug }}">{{ book.edition.text.title }}</a></td>
                <td>{{ book.edition.text.author }}</td>
                <td style="width: 15em">{{ book.edition.publisher }}, {{ book.edition.published_date|date:"M Y" }}</td>
                <td class="action">
                    <ul>
                        <li><a href="/books/edit/{{ book.id }}">Edit</a></li>
                        <li><a href="/books/edit/{{ book.id }}">Delete</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        <tr><td colspan="3"></td><td><a href="/books/add/">Add a new book</a></td></tr>
        </table>
    {% endfor %}
{% endblock %}
